@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
}

img{
    width: 100%;
}

#home{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .overlay{
        background: linear-gradient(rgba(77, 77, 77, 0.7), rgba(17, 7, 254, 0.7));
    }
}

.divider{
    height: 4px;
    width: 70px;
    background: linear-gradient(to right, #00e0fe, #1107fe);
    margin: 16px auto;
}

#service{
    padding-top: 100px;
    padding-bottom: 100px;
    .service{
        .service-img{
            position: relative;
            .icon{
                width: 70px;
                height: 70px;
                color: #fff;
                background: linear-gradient(to right, #00e0fe, #1107fe);
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                i{ font-size: 40px; }
            }
        }
    }
}